*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color__text: #BEE9E8;
    --color: #62B6CB;
    --color__bg: #1B4965;
    --color__text_1: #1B4965;
    --color__bg_1: #CAE9FF;
    --color5: #5FA8D3;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-style: normal;
    height: 100vh;
    background-color: var(--color__bg_1);
    color: var(--color__text_1);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    padding: 2%;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    font-style: bold;
    letter-spacing: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: nowrap;
}

.nav__button {
    font-size: 1rem;
    
}

article {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main__title {
    font-size: 2.5rem;
    font-weight: 600;
}

.second__title {
    font-weight: normal;
}

.button__block {
    width: 100%;
    height: 100px;
    margin-top: 3%;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.button {
    display: flex;
    width: 20%;
    height: 80%;
    background-color: var(--color__bg);
    color: var(--color__text);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 11px 6px 2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 11px 6px 2px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 11px 6px 2px rgba(34, 60, 80, 0.6); 
    transition: all 0.3s;
}

.button:hover {
    margin-top: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

.button__register {

}

.grid__block {
    border-radius: 5px;
    margin-top: 5%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content__img {
    width: 100%;
    border-radius: 10px;
}

.content__header {
    color: inherit;
    font-size: 1.5rem;
    margin: 2% 0 0 0;
}

.content__text {
    color: inherit;
    font-size: 1.25rem;
    margin: 2% 0 0 0;
}

footer {
    width: 40%;
    border-radius: 15px 15px 0 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    background-color: var(--color__bg);
    color: var(--color__text);
    font-weight: 800;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 1%;
    padding: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 8%;
    border-radius: 15px;
    gap: 15px;
    background-color: var(--color__bg);
    color: var(--color__text);
    font-size: 1.5rem;
}

.form input {
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    background-color: var(--color__text);
    color: var(--color__bg);
    border: 2px solid var(--color__bg);
}

.form input::placeholder {
    font-size: 1rem;
}

.form input[type="submit"] {
    font-size: 1rem;

}

table {
    width: 70%;
    padding: 3%;
    border: 3px solid var(--color__bg);
    border-radius: 15px;
}

td {
    background-color: var(--color__bg);
    color: var(--color__text);
    padding: 2%;
    border-radius: 5px;
}